body{
    background-color: #21262d ;
}

h1{
    color: #ecf2f8 ;
    font-family: "Archivo Black",sans-serif ; 
}

p{
    color: #ecf2f8 ;
    font-family: sans-serif ;
    background-color: #161b22 ;
}

#p1{
    border-style: solid ;
    border-radius: 10px ;
    border-width: 3px ;
    padding: 5px ;
    border-color: #ecf2f8 ;
}

#p2{
    border-style: solid ;
    border-radius: 10px ;
    border-width: 3px ;
    padding: 5px ;
    border-color: #ecf2f8 ;
}

#p3{
    border-style: solid ;
    border-radius: 10px ;
    border-width: 3px ;
    padding: 5px ;
    border-color: #ecf2f8 ;
}

button{
    background-color: #ecf2f8 ;
    color: #161b22 ;
    padding: 5px ;
    border-radius: 5px ;
    border-color: #ecf2f8 ;
}